body {
	background-image: url(background.png);
}

.main {
	margin-top: 50px;
    margin-left: 75px; 
	margin-right: 75px;
	height: 100%;
	max-width: 900px;
	background-color: #FFFFFF;
}

@media screen and (min-height: 600px) {
	.main {
		min-height: 575px;
	}
}

.headersearch {
	background-color: #005580;
	height: 75px;
}

.headersearch input[type=text]{
margin-top: 20px;
  margin-right: 16px;
  margin-left: 16px;
  padding-left: 5px;
  border: none;
  height: 36px;
  width: 95%;
  font-size: 18px;
}

.sidenav {
	width: 250px;
	height: 500px;
	position: absolute;
	z-index: 1;
	overflow-x: hidden;
	border-right: 1px solid #ccc; 
}

@media screen and (max-width: 600px) {
	.sidenav {
		height: auto;
	}
}

ul.facet-list div {
	display: block;
	margin-right: 20px;
}

ul.facet-list div.active {
	color: #FFFFFF;
	background-color: #0088cc;
}

.facet{
	margin-left: 10px;
	background-color: #FFFFFF;
	border: none;
	font-size: 12px;
    text-decoration: none;
    display: inline-block;
}

.facet:hover {
	color: #FFFFFF;
	background-color: #0088cc;
}

.maincontent {
	margin-left: 250px;
	padding-top: 10px;
	padding-left: 30px;
	padding-bottom: 10px;
	height: auto;
}

.miniheader{
	margin-bottom: 30px;
	overflow: hidden;
}

.miniheader:after{
	content:'';
  display:inline-block;
  width:50%; 
  height:100%;
  margin-right:-25%;
  margin-left: 20px;
  border-bottom:2px solid #ccc;
}

.smallpic {
	float: left;
	border-radius: 8px;
	width: 75px;
	height: auto;
	-webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

.resultcontainer {
	padding-left: 100px;
	padding-bottom: 23px;
	line-height: 16px;
	font-size: 16px;
	-webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

h5 {
	color: gray;
	font-size: 14px;
}

.pagination {
	margin-left: 20px;
	margin-right: 20px;
	background-color: #FFFFFF;
	border: 2px solid gray;
	border-radius: 8px;

}

.checked {
	color: orange;
	position: relative;
	z-index: 2;
}

.empty{
	color: #cccccc;
	position: relative;
	z-index: 1;
}

.alignright{
	float: right;
}

.mirror{
	margin-left: -1px;
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}